*{
    box-sizing: border-box; 
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Roboto&display=swap');

    
}
main{
    text-align: center;
    width: 100%;
    margin: 0px 0;  
    font-family: 'Inconsolata', monospace;

}
body {
    margin: 50px;
    font-size: 17px; 
}
h1{ 
    font-family: serif;
    font-family: 'Inconsolata', monospace;
}
label{
    display: block;
    margin-bottom: 10px;
    align-content: center;
}
input, button {
    padding: 10px;
    width: 500px;
    font-size: 15;
    border: 1px solid #ccc;
    outline: 0;
    margin-top: 5px; 
    border-radius: 10px; 
    text-align: center;
}
 button{
    background-color: #eee;
 }
button:hover{
    background-color: #ddd;
}
 
img{
    width: 15px;
    height: 15px;
    border: none;
}

 